.counter {
    .container {
        padding: 100px 0;
        .counter-heading {
            max-width: 53%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 110px;
            .title {
                font-size: 3.1rem;
                margin-bottom: 24px;
                line-height: 1.3;
            }
        }
        .counter-list__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 18px;
            .counter-item {
                position: relative;
                background: #fff;
                box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px
                    rgba(54, 54, 54, 0.12);
                padding: 32px;
                span {
                    display: block;
                }
                .counter-icon {
                    background: #fff0e7;
                    display: inline-block;
                    padding: 20px;
                    border-radius: 10px;
                }
                .counter-icon--2 {
                    background: #f2ffec;
                }
                .counter-number {
                    padding: 22px 0;
                    font-weight: 800;
                    font-size: 4.3rem;
                }
            }
            .counter-item--1::before {
                content: "";
                display: block;
                width: 235px;
                height: 235px;
                background: #dcffca;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                translate: -50% -50%;
            }
            .counter-item--2 {
                padding: 60px 32px;
                max-width: 90%;
                margin-left: 20px;
            }
            .counter-item--3::after {
                content: "";
                display: block;
                width: 235px;
                height: 235px;
                background: #ffd5bd;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                translate: 50% calc(50% + 27px);
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1499px) {
    .counter {
        .container {
            max-width: 1320px;
        }
    }
}
@media only screen and (max-width: 1399px) {
    .counter {
        .container {
            max-width: 1140px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .counter {
        padding: 50px 0;
        .container {
            max-width: 960px;
            .counter-heading {
                max-width: 100%;
                margin-bottom: 20px;
                br {
                    display: none;
                }
            }
            .counter-item {
                max-width: 100%;
                margin-bottom: 20px;
                text-align: center;
                padding: 32px 0;
            }
            .counter-item--2 {
                max-width: 100%;
            }
            .counter-item--3::after {
                display: none;
            }
        }
    }
}
